
$white: #ffffff;
$grey-blue: #373741;
$tan-avocado: #bbaa88;
$tan-grey: #ccccbb;


/* Color Schemes */

$primary: $tan-avocado;
$primary-font: $grey-blue;
$primary-background: $white;
$secondary: $tan-grey;